body {
    background-color: #DDEDEE;
}

/* navbar + main header where it says The Tech Blog */
.mainHeader {
    background-color: #3C7D81;
    padding: 3vb 0 3vb;
}

/* navbar links */
a {
    color: #DDEDEE;
    padding-right: 6vb;
    font-size: x-large;
}

#techBlogLogo h1 {
    color: #3C7D81;
    background-color: #DDEDEE;
    padding: 1vb 3vb 1vb;
    border-radius: 3vb;
}

.card {
    margin: 3vb 20vb 3vb;
}

.formContainer {
    margin: 3vb;
}

.card-header {
    background-color: #3C7D81;
    color: #DDEDEE;
    font-size: x-large;
}

.btn {
    background-color: #3C7D81;
    color: #DDEDEE;
    font-size: large;
}

.login-signup {
    color: #3C7D81;
    font-size: large;
}